{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            <h2>Forgot Password</h2>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}